:root {
  --bg-point: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle fill='%2364748b' cx='2' cy='2' r='.5'/%3E%3C/svg%3E");
}

body {
  font-family:LXGW WenKai,LXGW WenKai Mono,'Patrick Hand','Patrick Hand SC','Neucha';
  font-size: 18px;
}


/* 左侧logo */
.logo{
  width: 50px;
  height: 50px !important;
}

/* 右侧按钮 */
.VPNavBarMenuLink{
  font-size: 20px !important;
}


/* 主体内容面板 */
.VPContent {
  word-spacing: 0.12rem;
  /* background-image: var(--bg-point); */
  background-repeat: repeat;
}

/* 主体 md 面板 */
.VPDoc .container .content{
  padding:1.5rem;
  box-sizing: border-box;
  border-radius:1rem;
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
}


